<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main_page.main_page') }}">logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('user.user_list') }}">User</a>
        <a class="nav-link" href="{{ url_for('author.author_list') }}">Author</a>
        <a class="nav-link" href="{{ url_for('article.article_list') }}">Articls</a>
        {% if current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('article.create_article_form') }}">Create article</a>
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout ( {{ current_user.username }} )</a>
        {% else %}
          <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>